[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
langchain-core = "*"
langchain-openai = "*"
chromadb = "*"
langchain-google-genai = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
